// setup spin-kit animation
.sk {
  margin: 0;
  display: inline-block;
 }

// general loader hide/show
.loader {
  display: none;
  &.show {
    display: block;
  }
}

// button with loader
button div.loader, a.button div.loader {
  padding: 0;
  margin: 0;
  position: absolute;
  // simulate padding; don't interfere with button's border styling
  top: 0.1em;
  left: 0.1em;
  width: calc(100% - 0.2em);
  height: calc(100% - 0.2em);
  background-color: #00688f;
}

button div.sk div:before, a.button div.sk div:before {
    background-color: white !important;
}

button div.sk, a.button div.sk {
  height: 75%;
  color: white !important;
}

// opaque pane for the loader. the loader html should be included beneath a div with class loader-pane
.loader-pane {
  width: 100%;
  position: relative;
  &.show {
    opacity: 0.5 !important;
  }
}
