extends onboarding

block stage
  include ../partials/row-buttons

  div.onboarding#first
    section.message
      h1.message-title Thank you for being here!

      p.message-paragraph We collect micro-donations to help victims of humanitarian disasters. As little as $1 USD can make a difference. Your donation can help those most in need.

    include ./progress
    +onboarding-progress(1)

    +rowButtons([{text: 'NEXT', url: '/onboarding2/'}])
