extends onboarding

block stage
  include ../partials/row-buttons

  div.onboarding#second
    section.message
      h1.message-title We are 100% non-profit.

      p.message-paragraph We partner with certified humanitarian aid organizations that work on the ground in affected areas.

    include ./progress
    +onboarding-progress(2)

    +rowButtons([{text: 'NEXT', url: '/onboarding3/'}])
