@import '../fonts';

$light-font-color: #6f6f6f;

.headline {
  padding: 0.5em 0 0.5em 0;
}

.campaigns-card {
  margin-bottom: 1.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.campaigns-container {
  padding: 1em;
}

.campaigns-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.progress-amounts {
  font-size: small;
  width: 100%;
  display: inline-block;
}

.progress-flex {
  flex-flow: row nowrap;
  display: flex;
  justify-content: space-between;
}

.partner-logo {
  display: inline-block;
  width: 25%;
  text-align: right;
  img {
    max-width: 100%;
    vertical-align: middle;
    max-height: 50px;
  }
}

.progress-flex > div {
  flex: none;
}

.progress-flex > div > div {
  text-align: center;
}

.percent-donated {
  color: $blue;
}

.campaigns-card-image-area {
  height: 162px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
}

.campaigns-card-icon {
  padding-left: 3%;
  padding-top: 3%;
  display: inline-block;
  margin-right: 5px;
}

.campaigns-card-nation-title {
  font-size: 10px;
  color: white;
  display: inline-block;
}

.campaigns-card-headline {
  font-size: 1.2em;
  line-height: initial;
  display: block;
  margin-bottom: 0.4em;
  font-weight: bold;
}

.campaigns-link {
  text-decoration: none;
  color: $black;
}

.campaigns-short-narrative {
  font-size: 0.8em;
  line-height: initial;
}

.light-font {
  color: $light-font-color;
}

#cookie-banner {
  position: fixed;
  bottom: 0.1em;
  left: 0;
  right: 0;
  padding: 0.5em 1.5em;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.9);
  color: '#ffffff';
  border-radius: 0.5em 0.5em 0 0em;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
  text-align: center;
}

@media only screen and (max-width: 1100px) {
  #cookie-banner {
    width: 80%;
  }
}

@media only screen and (max-width: 750px) {
  #cookie-banner {
    width: 100%;
  }
}

p.banner-content {
  padding-bottom: 0;
  margin-bottom: 0;
}

a.cookie-policy-link {
  text-decoration: underline;
}

button.button-cookie-banner {
  display: block;
  text-decoration: underline;
  margin-top: 1em;
  padding: 0.5em 1.6em;
}

button.button-cookie-banner:hover {
  background-color: #00688f;
}
