.campaign-progress line {
    stroke-width: 10;
}

.campaign-progress svg {
    height: 5px;
    width: 100%;
}

.campaign-progress text {
    font-size: 12px;
}
.campaign-progress .back-line {
    stroke: grey;
}

.campaign-progress .fore-line {
    stroke: #078615; 
}