// Amount

.fixed-amounts {
  flex-direction: row;
  justify-content:  space-between;
  display: flex;
}

#customAmount {
  border: 2px $or-grey solid;
  margin: 2em 0;
  height: 4em;
  border-radius: 10px;
}

.donation-amounts .validation-message {
  margin-top: -1em;
  margin-bottom: 1em;
}

// checkbox button styling
label.fixed-amount input:checked + span {
   background-color:$or-light-blue;
   color:#fff;
}

// Methods
#payment-errors {
  width: 100%;
  background-color: #e415151a;
  color: maroon;
  border-radius: 0.3em;
}

#payment-buttons {
  min-height: 75px;
}

// payment buttons

.donation-method .pay-button {
  outline: 1px dashed lightgray;
  cursor: pointer;
  vertical-align: top;
  margin: 0 12px;
  padding: 5px;
  img {
    width: 75px;
    height: 50px;
  }
}

// paypal button tweaks
.donation-method #paypal-button {
  display: inline-block;
  vertical-align: top;
  .xcomponent-outlet {
    min-width: 150px;
    height: 50px;
  }
}

.cc-assurance {
  color: grey;
  font-size: small;
  text-align: center;
}


// lifted from braintree drop-in
// TODO determine valid cards from API call?
.braintree-sheet__card-icon {
  display: inline-block;
}
.braintree-sheet__icons {
  margin: 1em 0em;
}
.braintree-hidden {
  display: none;
}

.applepay {
  background-color: #efe6e6;
  background-image: url('/images/donate/apple-pay.svg');
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  border: 0;
  border-radius: 4px;
  outline: 0;
  padding: 12px 24px 10px 24px;
  margin: 0px 0px 0px 5px;
  width: 160px;
  min-width: 90px;
  height: 40px;
  min-height: 40px;
}
