.container {
  position: relative;
  height: 100%;
}

.onboarding {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  z-index: 0;
  &:before {
      content: '';
      width: 100%;
      height: 70%;
      position: absolute;
      bottom: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 51%, rgba(151,151,151,0) 100%);
      z-index: 0;
  }
  .row-buttons, .onboarding-progress-container, .message {
      z-index: 1;
  }
}

.onboarding-logo-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
  max-width: 50%;
  text-align: right;
  padding: 6px 6px 0px 0px;
  z-index: 2;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -75%;
    right: 0;
    background: #fff;
    height: 100%;
    width: 100%;
    transform: skewY(15deg);
    z-index: -1;
  }
}

.onboarding-logo {
  width: 40%;
}

#first {
  background-image: url('/images/bg_onboarding/onboarding_1_wide.jpg');
  background-position: center;
}

#second {
  background-image: url('/images/bg_onboarding/onboarding_2_wide.jpg');
  background-position: center;
}

#third {
  background-image: url('/images/bg_onboarding/onboarding_3_wide.jpg');
  background-position: center;
}

.message {
  color: $or-white;
  padding-left: 10%;
  width: 80%;
  max-width: 50em;
}

.message-title {
  color: $or-white;
  font-weight: 300;
  line-height: initial;
}

.message-paragraph {
  font-size: 1rem;
  line-height: initial;
}

ul.onboarding-progress {
  padding-left: 0px;
  width: 100%;
}

li.progress-item {
  list-style: none;
  display: inline-block;
  background: $onboarding-gray;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0px 5px;
}

li#active {
  background: $or-light-blue;
}
