.volunteer {
   ul {
     padding: 0px;
   }
  section.contributors {
    padding: 0.5em;
    border: 1px black solid;
    background-color: lightgray;
    h2 {
      text-align: center;
    }

    div.contributors {
      justify-content: center;
      display: flex;
      .contribution-list {
        margin-top: 2em;
        list-style: none;
        img {
          margin-right: 2em;
          width: 50px;
          height: 50px;
        }
        ul {
          list-style: none;
          display: inline-block;
        }
      }
    }
  }
}