mixin campaignStats(campaign)

  - var remaining = moment(campaign.endDate).fromNow();

  div.campaign-stats(class="flex one")
    div
      div
        i(class="fa i-clock-o") 
        span Fundraiser ends #{remaining}
      div
        i(class="fa i-users") 
        span #{campaign.fundraising.donations} people have contributed
      div
  div(class="flex two")
    div
      div(class='campaign-font_light') People Affected
      p #{campaign.details.peopleAffected}
    div
      div(class='campaign-font_light') Key Priorities
      p #{campaign.details.helpRequired}