include ../partials/progress-bar

mixin campaignsStats(campaign)
  - var goal = campaign.fundraising.goal.value;
  - var percent = (Math.round((campaign.fundraising.amountRaised*100)/goal)) +'%';
  - var remaining = moment(campaign.endDate).fromNow();

  div.campaign-progress
    +progressBar(percent)
    div.progress-amounts
      div.progress-flex
        div.percent-donated
          div US$ #{campaign.fundraising.amountRaised}
          div raised
        div
          div #{campaign.fundraising.donations}
          div.light-font donors
        div
          div finish
          div.light-font #{remaining}
        div.partner-logo
          img(src=`${campaign.charity.logo.url}`) 
