include ../campaigns/campaigns-stats

mixin campaigns-card(campaign)
  div.campaigns-card
    a.campaigns-link(href=`/campaigns/${campaign.id}`)
      div.campaigns-card-image-area(style=`background-image: url('${campaign.details.images.main.url}');`)
        img.campaigns-card-icon(src="/images/icons/globe-7-16.png", width="20", height="20") 
        p.campaigns-card-nation-title #{campaign.details.areaAffected}
      div.campaigns-container    
        div 
          span.campaigns-card-headline #{campaign.title}
        div.campaigns-short-narrative #{campaign.details.summary.slice(0, 150)}#{campaign.details.summary.length > 150 ? `...` : ''}
         
        +campaignsStats(campaign)
