mixin cookie-banner(campaign)
  #cookie-banner
      p.banner-content(style="color: #ffffff;")
        | Our site uses cookies. Learn more about our use of cookies : 
        a.cookie-policy-link(href='/privacy/', target = "_blank")
          | cookie policy
      center
        button.button-cookie-banner.pseudo#cookieButton()(style="color: #ffffff;") I accept
        
  script(src = "/js/browserify/cookie-banner.js")
  

  

  
  