extends ../main

block content
  .background-cut(style=`background-image: \
    url('/images/svg/cut-off-campaign-share.svg'), \
    url(${campaignImageUrl});`)
  .social.text-center
    p Thank you for your donation. You can now upload a selfie or choose a picture and share with your friends!
    include share-partial

  script.
    $script('/js/browserify/social.js', () => window.social.init('#{fbId}'));

  script(async src="https://platform.twitter.com/widgets.js")
