mixin shareSelector(id, imageUrl, val)
  - var bgImage = `background: url('${imageUrl}')`;
  input(ic-post-to="/social/select" ic-target="#social-buttons" type="radio" id=id name="share" value=val)
  label.selector(for=id)
    img(src=imageUrl)
