extends layout

block page
  div.about
    include partials/backclose
    +backclose({url: '/'})

    h1.grow About Us
    div.flex.two.grow
      section
        img.logo(src='images/about/star.png',)
        h3 WE GUARANTEE
        p We are completely non-profit. Collected Donations support certified humanitarian organizations that provide life-saving assistance to the affected people on the ground.
      section
        img.logo(src='/images/about/impact.png',)
        h3 OUR IMPACT
        p By leveraging the power of crowdfunding, we are collection donations for life-saving assistance in the crtical hours after a disaster has struck.
    div.flex.two.grow
      section
        img.logo(src='/images/about/location.png',)
        h3 HQ LOCATION
        p Washington, D.C United States
      section
        img.logo(src='/images/about/mission.png',)
        h3 CODE VOLUNTEERS
        p The OneRelief platform is developed and maintained by an amazing group of code <a href="/volunteer">volunteers</a>.
    div.flex.three.grow
          a(href="https://www.facebook.com/OneReliefApp/" target="_blank")
            img.socialicon(src='images/about/facebook.png',)
          a(href="https://www.instagram.com/one_relief" target="_blank")
            img.socialicon(src='images/about/instagram.png',)
          a(href="https://twitter.com/onerelief?lang=en" target="_blank")
            img.socialicon(src='images/about/twitter.png',)
          a(href="mailto:contact@onereliefapp.com")
            img.socialicon(src='images/about/email.png',)
          a(href="https://onereliefapp.com/" target="_blank")
            img.socialicon(src='images/about/website.png',)
          a(href="tel:1-240-389-4057")
            img.socialicon(src='images/about/phone.png',)
