extends main

block content

  include campaign/progress-bar
  include campaign/stats
  include partials/map-location
  include partials/row-buttons
  include partials/share-popup.pug

  div.campaign-container(class='roboto')
    div.campaign-image-container(style=`background: \
      url('/images/svg/cut-off-campaign.svg'), \
      url('${campaign.details.images.main.url}');`)

    div.campaign-headline
      div
        i(class="fa i-globe")
        span(class='campaign-font_light' style='margin-left:5px; font-size: 0.8em;') #{campaign.details.areaAffected}
      span(class='campaigns-card-headline' style='font-size: 1.3em;') #{campaign.title}

      +progress(campaign.fundraising.amountRaised, campaign.fundraising.goal.value)

    div(class='campaign-info')
      div(class='tabs three')
        input(
          id='tab-1'
          type='radio'
          name='tabgroupB'
          checked
        )
        label(for="tab-1", class='pseudo button toggle', style='margin-left:0') Overview
        span(class='campaign-font_light') |
        input(
          id='tab-2'
          type='radio'
          name='tabgroupB'
        )
        label(for="tab-2", class='pseudo button toggle') Description
        span(class='campaign-font_light') |
        input(
          id='tab-3'
          type='radio'
          name='tabgroupB'
        )
        label(for="tab-3", class='pseudo button toggle', style='margin-right:0') How to Donate
        div(class='row', style='margin-top:25px')
          div.campaign-info--section
            +campaignStats(campaign)
            div(class='campaign-font_light') Overview
            p #{campaign.details.summary}
          div.campaign-info--section
            p #{campaign.details.description}
          div.campaign-info--section
            p To make a donation click the ‘donate’ button at the bottom of this page. You can choose your donation amount on the next page. Donations can be made by Apple Pay, Google Pay, or Credit Card.
            p To receive a tax-deductible donation receipt by email, please pay by credit card. All donations are securely processed by Braintree, a validated Level 1 PCI DSS Compliant payment service provider.
            p The partner charity receives your donation without any delay.

    +map('campaign', campaign.details.location)

  div.bottom-buttons
    +rowButtons([{text: 'DONATE', url: `${campaignUrl}/donation`}])

  +sharePopup('Invite your friends!', 'Share this campaign on social media.', url)
