extends main

block content
  include campaigns/campaigns-card
  include campaigns/cookie-banner
  main
    h3.text-center(class='headline') Emergencies
    each campaign in campaigns
      +campaigns-card(campaign)
  if !userAcceptedCookieBanner
     +cookie-banner()
  
          
