extends main

block content
  include partials/loader-button

  div#contact

    //- modal content
    div(class="modal share")
      input(id="success" type="checkbox")
      label(for="success" class="overlay")
      article(id="success-content")
        img(src="/images/svg/mail.svg")
        p Thank you for your message!
        p We will be in touch shortly.
        hr
        a(id="send-success-continue" href="/").
          Continue

    h1 Contact
    p If you'd like to get in touch with us, please fill in the form below and click send.

    form(id="contact-form", autocomplete="off", action="/contact" enctype="mutlipart/form-data")

      fieldset
        input(type="text" name="name" placeholder="Name" required)

        //- "honeypot" email field
        input(id="email-field" type="email" name="email" placeholder="Email" tabindex="-1" autocomplete="off")
        //- real email field
        input(type="email" name="em" placeholder="Email" required)

        textarea(placeholder="Your message" name="message" rows=10 required)

      +loaderButton('Send', {id: 'send'})

    div(id="errors" class="validation-message")
    hr
    //- aritficially clicking this button to display picnic modal popup
    label.button(id="success-trigger" for="success" style="display: none;")

    p Prefer to contact us by email? Send us an email at 
      a(href="mailto:contact@onereliefapp.com") #{process.env.OR_CONTACT_EMAIL}

  script(src = "/js/browserify/contact.js")