extends main-menuless

block content

  div.donation-content(
    ic-trigger-on="paymentcomplete" 
    ic-get-from="donation/success"
    ic-replace-target="false" 
    ic-target=".donation-content"
  )
    block donation-content
      include donation/amount-partial

  //- not available on npm
  script.
    $script("https://pay.google.com/gp/p/js/pay.js")
