doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - OneRelief

    - var ogTags = {'title': ogTitle, 'description': ogDescription, 'image': ogImage, 'url': ogUrl}
    each val, name in ogTags
      if ogTags[name]
        meta(property=`og:${name}` content=ogTags[name])

    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/css/main.css')
    link(rel="manifest" href="/manifest.json")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css")
    link(rel="stylesheet" href="https://unpkg.com/picnic@6.5.0/picnic.min.css")

    script.
      var env = '#{process.env.NODE_ENV}'; 
      window.env = env ? env : 'development';

    script
      include ../public/js/load-sw.js
      include ../public/js/global.js

    script(src='/js/browserify/bundle.js')
    script(src='/js/main.js')

  body
    block page

    // Google Analytics: change UA-XXXXX-X to be your site's ID
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-XXXXX-X', 'auto');
        ga('send', 'pageview');

    block scripts
