extends main

block content
  h1 Privacy Policy
  div.privacy-policy
    p This website is owned and operated by OneRelief Inc, a US 501(c)(3) public charity (EIN 82-3354121). We recognize that visitors to our site may be concerned about the information they provide to us and how we treat that information. This Privacy Statement addresses those concerns.
    p OneRelief is committed to the privacy of individuals who visit our OneRelief website under www.one-relief.org and/or use our OneRelief web app (the “User”). Our website and the web app are together referred to as the “Service”. When providing the Service, we follow the privacy policy outlined below.

    h3 Scope of Policy
    p This Privacy Policy describes how we collect, use, process, and disclose your information, including personal information, in conjunction with your access to and use of the OneRelief websites and/or use of our OneRelief application (the “User”). Our website and/or the app are referred to as the “Service”. By using this Service, you agree to the privacy policy outlined herein.

    h3 Information We Collect
    p We collect information in order to provide and improve our Service, to administer your use of the Service and to enable you to enjoy and easily navigate our Service.
    p When you use the Service or engage in certain activities, such as opening the web application, making a donation, requesting services or information, or contacting us directly, we may ask you to provide some or all of the following types of information:
    li Using the OneRelief web application: If you use the Service, you do not enter personal information (please see below for information which is collected automatically).
    li Making a donation via the Service: If you make a one-off donation via the Service, you provide your first and last name, your email, and your payment method information.
    li Communications with us: We may collect personal information from you such as email address, first and last name when you choose to request information about our Service, sign up for OneRelief’s newsletter, request to receive customer or technical support, or otherwise communicate with us directly or through Third Parties.
    li User-generated content: You may be able to customize and create certain content such as teams, text and audio-visual materials.
    p In addition to the information you choose to provide to us, we and our service providers also use standard technologies to automatically collect certain additional information:
    p We automatically record certain information about how you use our Service. This may include information such as a User’s Internet Protocol (IP) address, cookie identifiers, Advertiser ID and other device identifiers that are automatically assigned to your computer or device when you access the Internet, operating system, country, languages and locales, hardware type, the pages or features of our Service to which you browsed and the time spent on those pages or features, the links on our Services that you clicked on and other statistics. We use such data to administer the Service and we analyze (and may engage third parties to analyze) such data to improve, customize and enhance our Service by expanding features and functionality and tailoring them to individuals’ needs and preferences.

    h3 How We Use Your Information
    p We acquire, hold, use, and process personal information for a variety of business purposes, including:
    li to provide, personalize, and improve your experience with the Service, for example by providing customized, personalized, or localized content, recommendations, features, and advertising related to the Service on or outside of the Service;
    li to ensure technical functionality of the Service, develop new features and services, and analyze your use of the Service, including your interaction with the mobile application, advertising, products, and services that are made available, linked to, or offered through the Service;
    li to communicate with you for Service-related or research purposes including via emails, notifications, or other messages, which you agree to receive;
    li to process your payment to prevent or detect fraud including fraudulent payments and fraudulent use of the Service;
    li to communicate with you, either directly or through one of our partners, for marketing and promotional purposes via emails, notifications, or other messages, consistent with any permissions you may have communicated to us; in the section User Access and Control below, we inform you of the controls you can use to opt out from receiving certain messages;
    li to enable and promote the Service and other relevant services or products, either within or outside the Service, including features and content of the Service and products and services made available through the Service.


    h3 Sharing Personal Information with Third Parties
    p We share donor information, including first name, last name, and email with our charity partners. Charity partners may contact donors in follow up to their donations.
    p We use technical service providers which may operate the technical infrastructure that we need to provide the Service, in particular providers which host, store, manage, and maintain the application, its content and the data we process.
    p We use technical service providers to help us communicate with you, as described in Section ”How We Use Your Information” of this Policy.

    h3 Cookies, Third-Party Software Development Kits and Tracking
    p A cookie is a piece of data stored on the User's device containing information about the device. Usage of a cookie is in no way linked to any personally identifiable information while using the Service. By setting a cookie, OneRelief will remember the User the next time he/she visits the Service. The User is always free to decline our cookies if his/her browser permits, although in that case he/she may not be able to use certain features of the Service and may be required to re-enter information more frequently to use certain features of the Service.
    p We use third-party software development kits (“SDKs”) as part of the functionality of our Service. Third-party SDKs may allow third parties including advertisers to collect your personal information to provide content that is more relevant to you.
    p We use Google Analytics, an analysis service operated by Google LLC, (1600 Amphitheatre Parkway Mountain View, CA 94043, USA, "Google"). For this purpose, Google places a cookie on your device when you visit our web pages. This makes it possible to recognize your browser and to analyze your usage of our web pages on our behalf.
    p Google normally anonymizes your IP address within the EU or the EEA, before the data about your website usage are transmitted to the USA. Google has submitted to the EU-US Privacy Shield for the exceptional cases, in which personal data are transmitted to the USA, to ensure a reasonable level of data protection. More detailed information is available here: https://www.privacyshield.gov/EU-US-Framework. The IP address transmitted from your browser in connection with Google Analytics is not merged with other Google data.
    p Please note further that on our web pages, Google Analytics was extended by the "anonymized();" code in order to ensure an anonymized collection of IP addresses. As a result, IP address are processed in abbreviated fashion. This prevents data collected in connection with Google Analytics from being associated with you. Thus, to the extent that the data collected about you have a personal reference, this is immediately excluded, and the personal data are thus promptly deleted. Additional information regarding the use of your data by Google is available here: https://policies.google.com.
    p You have the option to prevent the use of your data at any time by installing the plug-in offered by Google. This plug-in is available at: https://tools.google.com/dlpage/gaoptout.


    h3 Social Media Platforms
    p From within the Service, users are able to share content on SNS such as Facebook, Twitter, Instagram and WhatsApp. Please do not use the Facebook plugin if you do not consent that your donations are shared with your friends on Facebook.

    h3 Donations via the Service
    p When you make donations to OneRelief, we process these through third-party payment processors such as Braintree and PayPal. You can use credit card, Google Pay, Apple Pay, or PayPal to make donations.

    h3 User Access and Control of Personally Identifiable Information
    p If you would like to access, review, correct, update, suppress, transfer (right to data portability), delete or otherwise limit our use of your personal information we have collected, you may contact us using the mechanisms provided below. We will try to comply with your request as soon as reasonably practicable.
    p You may opt out of having your personal information used or disclosed for certain purposes.
    p If you no longer want to receive marketing-related emails from us or from our partner charities on a going-forward basis, you may opt out of receiving such communications at any time by clicking on the unsubscribe link at the bottom of each email.

    h3 Data Retention
    p We retain data for limited periods when it needs to be kept for legitimate business or legal purposes.

    h3 Children
    p The Service is not directed to children under the age of 16. We do not knowingly collect personal information from children under 16.
    p If a parent or guardian becomes aware that his or her child has provided us with information or may be receiving communications from us without consent of a parent or guardian, we ask that this be brought to our immediate attention. We will make it our priority to address this situation and delete information relating to a child as soon as practicable. In such an event, please contact us at contact@one-relief.org.

    h3 Security
    p To protect your personal data from unauthorized access and abuse we have implemented technical and organizational security measures. We check these security measures regularly and adapt them, as necessary, to the state of technological progress. Our infrastructure is served via HTTPS, so that your smartphone only communicates with our server over a secure channel. All payment data is processed by our payment processing partners. Your financial information is managed securely on our behalf by our payment processors which are globally trusted (Level 1 DSS PCI compliant) payments companies.

    h3 Location of Storage
    p Please note that OneRelief is a U.S. public charity (501(c)(3)) and your personally identifiable information may be processed also outside of the European Economic Area or outside any other area you might be located in when using the Service.

    h3 Notification of Changes
    p This privacy policy may change from time to time. Changes will be posted within the Service so Users are always aware of what information is collected and how it is used. Please make sure you read any such notice carefully. If you do not wish to continue using the Service under the new version of the Privacy Policy, please contact us through contact@one-relief.org.

    h3 Content Sharing Terms
    p By submitting user-generated content such as text and audio-visual material to OneRelief, you:
    li represent and warrant that you are of legal age of consent in the jurisdiction of your domicile;
    li grant OneRelief a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sublicensable and transferable license to use, display, distribute, reproduce, modify, remix, translate, transcode, excerpt, adapt, prepare derivative works of and compilations, publicly display such content in any format or medium for any purpose in connection with OneRelief and partner charities’ activities;
    li represent and warrant that the content is original or that you hold the necessary rights to publish the content you submit and grant OneRelief the license under (ii); and
    li agree to indemnify and hold OneRelief, its officers, agents and employees harmless from any claim or loss made by any third party due to or arising out of content you submit.

    h3 Disclaimer – Links to other Sites
    p The Service contains hypertext links to other services. OneRelief assumes no responsibility for those services including the privacy practices or the content of such web sites.

    h3 Contact Us
    p If you have any questions or concerns about this privacy policy, please contact us at:

    p OneRelief Inc. <br />
      | 8112 SE Yamhill St <br />
      | 97215 Portland/Oregon <br />
      | United States of America <br />
      | Tel: +1 (240) 389-4057 <br />
      | E-mail: support@one-relief.org

      p Last modified: November 26, 2018
