extends main

block content
  .volunteer
    h1 Volunteer

    p The OneRelief platform is developed and maintained by a group of experienced and dedicated humanitarian aid works and code volunteers from around the world.

    p If you would like to join OneRelief as a code volunteer, send us a <a href="/contact">message</a>.

    //- section.contributors
      //- h2 Contributors
      //- .contributors
      //- include contributions.html
