@import "../../../node_modules/tachyons/src/font-family";
@import "../../../node_modules/tachyons/src/font-weight";
@import "../../../node_modules/tachyons/src/font-style";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$font-family: "Roboto", sans-serif;

.roboto {
    font-family: $font-family;
}
