
// Remove spinner in input fields with type number
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:invalid {
    outline: none;
}

input[type=number] {
    -moz-appearance:textfield;
}

body {
    background-image: url(/images/grid.png) !important;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none !important;
}

$max-width-container-padding: 0.5em;

.max-width-container {
    background: white;
    padding: $max-width-container-padding;
    min-height: 100%;
    max-width: $picnic-breakpoint;
    margin: auto;
    & > div.spacer {
        height: 3em;
    }
}

@import "pages/pages";