// Top level variables for Picnic CSS
// Note: some others are available under each specific plugin

@import './colors';
@import './fonts';

$or-light-blue: #00adee;
$or-grey: gray;
$or-teal: #00688f;
$or-white: #fff;

// Colors (from /themes/default/colors)
$picnic-white: #fff !default;
$picnic-black: #111 !default;
$picnic-primary: $blue !default;
$picnic-success: $green !default;
$picnic-warning: $orange !default;
$picnic-error: $red !default;
$picnic-dull: $gray !default;
$picnic-color-variation: 10% !default;
$picnic-transparency: 0.2 !default;

// Spaces
$picnic-separation: 0 !default;
$picnic-breakpoint: 40em !default;

// Shapes
$picnic-radius: 0.2em !default;
$picnic-border: 1px solid #ccc !default;
$picnic-shadow: 0 0 0.2em rgba($picnic-black, $picnic-transparency) !default;

// Transitions
$picnic-transition: all 0.3s;
