mixin backclose(close, back)

  nav.back-close.transparent
    if back
      a(href="" style="float:left;" ic-replace-target="false" ic-get-from=back.url ic-target=back.content) &lt;
    a(href=close.url style="float:right;") x 
