nav.nav-bar.text-center
  a.brand(href='/')
    img.logo(src='/images/icons/icon-72x72.png')
    span OneRelief
    img.beta-icon(src="/images/icons/beta_grey.svg")

  input.show(id='bmenub', type='checkbox')
  label.burger.pseudo.button(for='bmenub') &#9776;
  div.menu
    a.nav-link(href='/campaigns') Emergencies
    a.nav-link(href='/about') About Us
    a.nav-link(href='/contact') Contact
    a.nav-link(href='/privacy') Privacy Policy
    //- a.nav-link(href='/volunteer') Volunteer
