mixin loaderPane(loaderId)
  include spinner
  div.loader(id=loaderId style="height: 0px; position: absolute; left:50%; transform: translateX(-50%); top: 40%; transform: translateY(-50%);")
    +spinner()