mixin map(name, location)
  - var mapName = `map-${name}`

  div.map-container
    div(id=`${mapName}` style="height:300px;")

  script.
    $script('/js/browserify/map-location.js', () =>
      map( #{location.zoom}, '#{mapName}', {lng: #{location.lng}, lat: #{location.lat}, radius: #{location.radius}}));
