mixin rowButtons(buttons)
  div.row-buttons(style="display: flex;")
    each btn in buttons
      if btn.modalID
        label(for=`${btn.modalID}` style="flex-grow: 1;" class="button") #{btn.text}
      else
        - var btnId = btn.id ? btn.id : '';
        a(id=`${btnId}` class="button" style="flex-grow: 1;" href=btn.url)&attributes(btn.props) #{btn.text}
