mixin sharePopup(headerText, shareText, shareURL)
  div(class="modal share")
    input(id="share" type="checkbox")
    label(for="share" class="overlay")
    article(style="max-width: 20em;")
      header
        h4 #{headerText}
      section(class="content")  #{shareText}
        ul(style="padding: 0px; text-align: center;")
          li
            a(href=`https://www.facebook.com/sharer/sharer.php?u=${shareURL}` target="_blank") Facebook
          li
            a(href=`https://twitter.com/home?status=${shareURL}` target="_blank") Twitter
          li
            a(href=`mailto:?subject=${shareURL}&body=`) Email
      footer
        label(for="share" style="width: 100%;" class="button") Cancel
