mixin btInput(id, text, extra)
  label(for=id style="cursor: pointer;") #{text}
    if extra
      input(id=id)
    else
      //- styles need to be injected into braintree iframes
      div(id=id style="line-height: 1.7; margin: 0; height: 2.1em; padding: 0.3em 0.6em;\
        background-color: #fff; border-radius: 0.2em; border: solid 1px #ccc; transition: all 0.3s; width: 100%;")
    div.validation-message