include bt-input
include ../partials/loader-button

form#credit-card-info(method="post" autocomplete="off")
  field-set
    +btInput('fullname', 'Name', true)
    +btInput('email', 'Email', true)
    +btInput('number', 'Card Number')
    +btInput('cvv', 'CVV')
    +btInput('expiration-date', 'Expiration Date')

  input#nonce(type="hidden" name="nonce")
  .cc-assurance We use Braintree to securely handle credit card information. Braintree is Validated Level 1 PCI DSS Compliant.
  +loaderButton('Donate by Credit Card', {id: 'submit-button', class: "hidden", style: "width: 100%;", disabled: ''})
