//- extracted from the braintree drop-in form

include cc-svg.html

div(data-braintree-id="card-view-icons" class="braintree-sheet__icons")
  div(data-braintree-id="visa-card-icon" class="braintree-sheet__card-icon")
    svg(width="40" height="24")
      use(xlink:href="#icon-visa")

  div(data-braintree-id="master-card-card-icon" class="braintree-sheet__card-icon")
    svg(width="40" height="24")
      use(xlink:href="#icon-master-card")

  div(data-braintree-id="unionpay-card-icon" class="braintree-sheet__card-icon braintree-hidden")
    svg(width="40" height="24")
      use(xlink:href="#icon-unionpay")

  div(data-braintree-id="american-express-card-icon" class="braintree-sheet__card-icon")
    svg(width="40" height="24")
      use(xlink:href="#icon-american-express")

  div(data-braintree-id="jcb-card-icon" class="braintree-sheet__card-icon")
    svg(width="40" height="24")
      use(xlink:href="#icon-jcb")

  <!-- Remove braintree-hidden class when supportedCardType accurately indicates Diners Club support -->
  div(data-braintree-id="diners-club-card-icon" class="braintree-sheet__card-icon braintree-hidden")
    svg(width="40" height="24")
      use(xlink:href="#icon-diners-club")

  div(data-braintree-id="discover-card-icon" class="braintree-sheet__card-icon")
    svg(width="40" height="24")
      use(xlink:href="#icon-discover")

  div(data-braintree-id="maestro-card-icon" class="braintree-sheet__card-icon braintree-hidden")
    svg(width="40" height="24")
      use(xlink:href="#icon-maestro")

