mixin fixedAmount(amount, id)
  label.fixed-amount
    input(type="checkbox" value=`${amount}` id=`${id}` data-amount=`${amount}` onclick="donationAmount.fixedSelected(this)")
    span(class="toggle pseudo button" style="padding: 20px; border-radius: 10px; border: 2px gray solid;") $#{amount}
