#payment-method.animated.fadeIn.donation-method.loader-pane
  include ../partials/backclose
  include ../partials/loader-pane

  +loaderPane()

  input(type="hidden" id="bt-token" value=clientToken)
  +backclose({url: '/'}, {url: '/donation/amount', target: '.donation-content' })

  - var stage = 2;
  include progress-line

  h2.text-center Payment Method

  #payment-errors

  p(style={padding: '0px', margin: '0px 5px 5px 10px'}) You are about to make a $#{amount} donation. Please select a payment method:

  #payment-buttons.loader-pane
    +loaderPane()
    #paypal-button

  p You can also donate by Credit Card:

  include cc-icons
  include cc-hosted-fields

  script.
    $script('/js/browserify/donation-method.js',
      () => donationMethod.init('#{process.env.OR_GOOGLE_PAY_MERCHANT_ID}',
                                '#{process.env.OR_BRAINTREE_ENV}'));
