- const stages = 3;
- const titles = ['Amount', 'Payment', 'Done']
- const width = '100'; // Must be 100.
- const spacing = width/(stages - 1);
- const radius = 4;

div.donation-progress
  svg(width=width+'%' height="80px" style="overflow: visible;")

    // names of the stages
    - let pos = 0;
    - let ta = "start";
    each title in titles
      text(x=`${pos}%` y="25" font-size="12" text-anchor=ta) #{title}
      - pos += spacing;
      - if (titles.indexOf(title) != titles.length - 2) {
      -   ta = "middle";
      - } else {
      -   ta = "end";
      - }

    // line segments between stages
    - let n = titles.length;
    - let x = 1;
    - pos = 0;
    - let stroke = "blue";
    while (x < n)
      - if (x >= stage) {
      -   stroke = "grey";
      -}
      line(x1=`${pos}%` x2=`${pos+spacing}%` y1="50" y2="50" stroke-width="2" stroke=stroke)
      - pos += spacing;
      - x += 1;

    // dots for stages
    - x = 0;
    - pos = 0;
    - let center;
    - let fill = 'blue';
    while (x < n)
      - if (x >= stage) {
      - fill = 'grey';
      - }
      circle(cx=`${pos}%` cy="50" r=`${radius}` stroke-width="0" fill=fill)
      - pos += spacing;
      - x += 1;
