- var stage = 3;
include progress-line

.animated.fadeIn.donation-success
  h2.text-center Donation Complete
  p Please hold tight.

  include ../partials/row-buttons
  +rowButtons([{
    id: 'finish',
    url: `/donations/${donationId.id}/share`,
    text: 'Finish',
    props: {
      'style': 'display: none;'
    }
  }])

script.
  setTimeout(() => { document.getElementById('finish').click() }, 1500 )
